{% extends "base" %}

{% block content %}

{# Collecting all attraction entries and categories #}
{% set attractions = craft.entries.section('Attractions').all() %}
{% set all_categories = craft.categories().group('attractionCategories').all() %}


    <div class="categories-container bg-white p-3 w-fit m-auto mb-5 rounded-xl mt-4 flex flex-col gap-3">
        <h1 class="text-black text-3xl">Discover local attractions through our categories</h1>
        <div class="categories flex flex-row flex-wrap items-center justify-center gap-2">
            
            {# Displaying all categories for selection #}
            {% for category in all_categories %}
                <button data-category="{{ category.title }}" style="background-color: {{ category.colour }}" class="category-filter border-3 border-transparent cursor-pointer text-m p-1 rounded-2xl text-white">{{ category.title }}</button>
            {% endfor %}
            
        </div>
    </div>

    <div class="flex w-[80vw] flex-wrap justify-center gap-5 m-auto">

        {# Checking if attractions exist #}
        {% if attractions %}
            {# Looping through each attraction and displaying in cards #}
            {% for attraction in attractions %}

                    {% set image = attraction.attractionImage.one() %}
                    {% set categories = attraction.category.all() %}
                    {% set categoryList = categories | map(cat => cat.title) | join(',') %}

                    <div data-category="{{ categoryList }}" data-title="{{ attraction.title }}" class="card w-[500px] h-fit bg-stone-50 rounded-xl cursor-pointer 
                                flex flex-col p-5 gap-[10px] 
                                transition hover:shadow-2xl">

                        <img class="w-[500px] h-[300px]" src="{{ image.getUrl() }}" alt="{{ attraction.title }}">

                        <h2 class="title text-xl border-b-teal-500 border-b-4 w-fit">{{ attraction.title }}</h2>

                        <div class="flex gap-1">
                            {% for category in categories %}
                                <a href="" style="background-color:{{ category.colour }}" class="text-xs p-1 rounded-2xl text-white">{{ category.title }}</a>
                            {% endfor %}
                        </div>

                        <p class="description">{{ attraction.description }}</p>
                    </div>

                    <div class="modal-{{ attraction.title|replace({' ': ''}) }} modal hidden w-screen h-screen fixed top-0 left-0 bg-stone-500/25">
                        <div class="modal-body w-screen h-screen flex items-center justify-center">
                            <div class="modal-content relative rounded-xl flex flex-col p-5 text-center items-center gap-5 bg-white w-[90vw]">
                                <img class="cross w-[30px] absolute right-1 top-1 cursor-pointer" src="{{ alias('@web') }}/assets/images/cross.png" alt="">
                            
                                <img class="w-[500px] h-[300px]" src="{{ image.getUrl() }}" alt="{{ attraction.title }}">

                                <h2 class="title text-xl border-b-teal-500 border-b-4 w-fit">{{ attraction.title }}</h2>

                                {# Displaying the attraction's categories #}
                                <div class="flex gap-1">
                                    {% for category in categories %}
                                        <a href="" style="background-color:{{ category.colour }}" class="text-xs p-1 rounded-2xl text-white">{{ category.title }}</a>
                                    {% endfor %}
                                </div>

                                <p class="description">{{ attraction.description }}</p>
                            </div>
                        </div>
                    </div>

                    

            {% endfor %}

        {% else %}
            <h2 class="bg-red-500 text-black text-xl">Couldn't load attractions, please try again by refreshing the page.</h2> 
        {% endif %}
    </div>

{% endblock %}